<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="align_center">
      {{'HOME.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="alignHeaderItems">
      <ion-card-title>
        {{'HOME.FORM_TITLE' | translate }}
      </ion-card-title>
      <ion-segment (ionChange)="segmentChanged($event)" class="alignSegm">
        <ion-segment-button value="en">
          <ion-label>EN</ion-label>
        </ion-segment-button>
        <ion-segment-button value="fr">
          <ion-label>FR</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="onRegFormSubmit($event)">
        <ion-item lines="full">
          <ion-label position="floating"> {{'HOME.FORM_FIELDS.NAME' | translate}}</ion-label>
          <ion-input type="text" formControlName="nameFld"></ion-input>
        </ion-item>
        <span class="error" *ngIf="registrationForm?.controls?.nameFld?.touched && registrationForm?.controls?.nameFld?.errors?.required">
          {{'HOME.VALIDATIONS.NAME_REQUIRED' | translate}}
        </span>
        <ion-item lines="full">
          <ion-label position="floating">{{'HOME.FORM_FIELDS.DOB' | translate}}</ion-label>
          <ion-datetime formControlName="dobFld" [max]="today"></ion-datetime>
        </ion-item>
        <span class="error" *ngIf="registrationForm?.controls?.dobFld?.touched && registrationForm?.controls?.dobFld?.errors?.required">
          {{'HOME.VALIDATIONS.DOB_REQUIRED' | translate}}
        </span>
        <ion-radio-group formControlName="genderFld" class="alignRadioGrp">
          <span class="txt_lbl">{{'HOME.FORM_FIELDS.GENDER' | translate}}</span>
          <ion-item>
            <ion-radio value="male">
            </ion-radio>
            <ion-label> {{'HOME.FORM_FIELDS.MALE' | translate}} </ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="female">
            </ion-radio>
            <ion-label> {{'HOME.FORM_FIELDS.FEMALE' | translate}}</ion-label>
          </ion-item>
        </ion-radio-group>
        <ion-item lines="full">
          <ion-label position="floating">{{'HOME.FORM_FIELDS.PHONE_NUMBER' | translate}}</ion-label>
          <ion-input type="tel" maxlength="10" formControlName="phoneNbrFld"></ion-input>
        </ion-item>
        <span class="error" *ngIf="registrationForm?.controls?.phoneNbrFld?.touched && registrationForm?.controls?.phoneNbrFld?.errors?.required">
          {{'HOME.VALIDATIONS.PHONE_NUMBER_REQUIRED' | translate}}
        </span>
        <span class="error" *ngIf="registrationForm?.controls?.phoneNbrFld?.touched && registrationForm?.controls?.phoneNbrFld?.errors?.pattern">
          {{'HOME.VALIDATIONS.PHONE_NUMBER_PATTERN' | translate}}
        </span>
        <ion-item lines="full">
          <ion-label position="floating">{{'HOME.FORM_FIELDS.EMAIL' | translate}}</ion-label>
          <ion-input type="email" formControlName="emailFld"></ion-input>
        </ion-item>
        <span class="error" *ngIf="registrationForm?.controls?.emailFld?.touched && registrationForm?.controls?.emailFld?.errors?.required">
          {{'HOME.VALIDATIONS.EMAIL_REQUIRED' | translate}}
        </span>
        <span class="error" *ngIf="registrationForm?.controls?.emailFld?.touched && registrationForm?.controls?.emailFld?.errors?.pattern">
          {{'HOME.VALIDATIONS.EMAIL_PATTERN' | translate}}
        </span>
        <ion-item lines="full">
          <ion-label position="floating">{{'HOME.FORM_FIELDS.PASSWORD' | translate}}</ion-label>
          <ion-input type="password" formControlName="passwordFld"></ion-input>
        </ion-item>
        <span class="error" *ngIf="registrationForm?.controls?.passwordFld?.touched && registrationForm?.controls?.passwordFld?.errors?.required">
          {{'HOME.VALIDATIONS.PASSWORD_REQUIRED' | translate}}
        </span>
        <span class="error" *ngIf="registrationForm?.controls?.passwordFld?.touched && registrationForm?.controls?.passwordFld?.errors?.minlength">
          {{'HOME.VALIDATIONS.PASSWORD_PATTERN' | translate}}
        </span>
        <ion-button type="submit" expand="block" [disabled]="!registrationForm.valid">{{'HOME.FORM_FIELDS.SUBMIT' | translate}} </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
